<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Grade calculator!</h1>
  </div>
</header>

<div class="container" ng-controller="MainController">
  <table class="table table-bordered" >
      <thead>
          <tr>
            <th>Course</th>
            <th>Grade</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="grade in tableMembers">
            <td>{{grade.course}}</td>
            <td>{{grade.gradeLetter}}</td>
              <td class="table-hover"><a class="fa fa-remove" ng-click="removeRow($index)"></a></td>
          </tr>
          <tr>
              <th scope="row">CGPA</th>
              <td>{{calculateCGPA()}}</td>
          </tr>
      </tbody>
  </table>

    <h2>Add Course</h2>
    <form name="new_course" class="form-horizontal" role="form" ng-submit="addRow()" onsubmit="$('#course').focus()">
        <div class="form-group">
            <label class="control-label col-md-2">Code (i.e. COMP 1405)</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="course" ng-model="course" id="course" ng-pattern="/^[A-Z]{4} [0-9]{4}$/"/>
                <span ng-show="new_course.course.$error.pattern" class="course-error">That's not a valid course code!!</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Grade (i.e. B+)</label>
            <div class="col-md-4">
                <input type="text" class="form-control" name="grade" ng-model="gradeLetter" ng-pattern="/^[ABCDF][\+-]?$/"/>
                <span ng-show="new_course.grade.$error.pattern" class="course-error">That's not a valid grade!!</span>
            </div>
        </div>
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
    </form>
</div>

<footer></footer>
